
spring:
  application:
    name: HOTEL-SERVICE
# DATABASE CONFIGURATION
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/microservices
    password: root
    driver-class-name: org.postgresql.Driver
# JPA SETTINGS
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true

# EUREKA SETTINGS
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
